# Data Science Tools and Ecosystem

## Author
Robin Farmer

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- list popular data science languages
- list commonly used libraries in data science
- list open source data science tools

Some of the popular languages that Data Scientists use are:

1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. matplotlib

|Data Science Tools|
|------------------|
|MySQL|
|Apache Airflow|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335